html,
body,
#root {
  height: 100%;
  overflow: hidden;
  user-select: none;
  background: transparent;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*:focus {
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;
}

div {
  box-sizing: border-box;
  position: relative;
}

::-webkit-scrollbar {
  background: #f8f8f8;
  height: 0.4rem;
  width: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0;
  box-shadow: none;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 0;
  box-shadow: none;
  transition: background-color 0.5s ease;
}

::-webkit-scrollbar-thumb:hover {
   background-color: #000;
}